@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-primary;
}
/* Custom scrollbar for a more modern feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0A192F;
}

::-webkit-scrollbar-thumb {
  background: #3a5481;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f6ca0;
}